@model AppWebHojaCosto.Models.TBL_SIM_HOJA_COSTO_PNP

<fieldset style="border-width:2px; border-style:groove; padding:10px; height:100%;">
    <legend style="padding: 2px; width:auto;">Imagen Trasera</legend>
    <div class="row">
        <div class="col-sm-12">
            @if (Model.SimPnpImagenTrasS != null)
            {
                <img class="img-centro" src="@Url.Content(Model.SimPnpImagenTrasS)" alt="Image" />
            }
        </div>
    </div>
</fieldset>