@model AppWebHojaCosto.Models.TBL_SIM_HOJA_COSTO_PNP

<fieldset style="border-width:2px; border-style:groove; padding:10px; height:100%;">
    <legend style="padding: 2px; width:auto;">% Participación del Costo</legend>
    <div class="row">
        <div class="col-md-12">
            <div id="contenedor_chart1">
                <canvas id="myChart" style="padding: 0;margin: auto;display: block; height:350px; width:100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="contenedor_chart2">
                <canvas id="myChart2" style="padding: 0;margin: auto;display: block; height:350px; width:100%;"></canvas>
            </div>
        </div>
    </div>
</fieldset>