@using ReportViewerForMvc;

@{
    ViewBag.Title = "Consulta";
}

@section Scripts {
    <script>
        $(function () {
            $("#FechaInicio").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
            $("#FechaFin").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
}

<div class="container-fluid">
    @using (Html.BeginForm("Buscar", "ReporteEstandarNoProducido", FormMethod.Post))
    {
        <fieldset style="border-width:2px; border-style:groove; padding:10px;">
            <legend style="padding: 2px; width:auto;">FILTROS</legend>
            <div class="row">
                <div class="col-md-3">
                    <label>Fecha Inicio: </label>
                    <input type="text" id="FechaInicio" name="FechaInicio" class="form-control input-sm" autocomplete="off" />
                </div>
                <div class="col-md-3">
                    <label>Fecha Fin: </label>
                    <input type="text" id="FechaFin" name="FechaFin" class="form-control input-sm" autocomplete="off" />
                </div>
                <div class="col-md-3">
                    <div style="height:33px; width:10px;"></div>
                    <button type="submit" id="Consultar" class="btn btn-sm btn-dark"><span class="fa fa-search"></span> Consultar</button>
                    <button type="submit" class="btn btn-sm btn-dark"><span class="fa fa-undo"></span> Limpiar</button>
                </div>
            </div>
        </fieldset>
    }
    <div class="row" id="divReport" style="margin:2px !important;">
        @if (ViewBag.visible != null)
        {
            if (ViewBag.visible == true)
            {
                @Html.ReportViewer(
                    ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,
                    new { scrolling = "si" })
            }
        }
    </div>
</div>